<!DOCTYPE html>
<html lang="{$currentLocale ?? 'en'}">
<head>
    {include '../partials/head.latte'}
    {block head}{/block}
</head>
<body class="landing-body">
    <a href="#main" class="skip-link">Skip to content</a>
    {block content}{/block}
    {include '../partials/footer.latte'}
</body>
</html>
